:root {
  --color-primary: #f9ed69;
  --color-secondary: #f08a5d;
  --color-tertiary: #b83b5e;
  --color-quaternary: #6a2c70;
  --color-quinary: #1e1f26;
  --color-white: #fff;
  --color-black: #000;
  --font-size-xxsmall: 0.625rem;
  --font-size-xsmall: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-xmedium: 1.5rem;
  --font-size-large: 2.4rem;
  --font-size-xlarge: 3.6rem;
  --font-size-xxlarge: 4.8rem;
  --font-size-xxxlarge: 6.4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--color-quinary);
  height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar div {
  display: flex;
  height: 100%;
}

.navbar ul li {
  font-size: var(--font-size-medium);
  height: 100%;
}

.navbar div a {
  padding: 1rem;
  color: var(--color-white);
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.navbar div a:hover {
  color: var(--color-primary);
  background-color: var(--color-quaternary);
}

.welcome-section {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-primary);
}

.welcome-section h1 {
  font-size: var(--font-size-xxxlarge);
  color: var(--color-quinary);
}

.welcome-section p {
  font-size: var(--font-size-large);
  color: var(--color-quaternary);
  padding: 2rem;
  text-align: center;
  font-style: italic;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  padding: 10vh 0;
}

.projects h2 {
  font-size: var(--font-size-xlarge);
  color: var(--color-quinary);
  padding: 2rem;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0 auto;
}

.project {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all 0.3s;
}

.project:hover {
  transform: translateY(-0.5rem);
}

.project-list li {
  margin: 1rem;
}

.project-image {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.project-tile {
  font-size: var(--font-size-medium);
  color: var(--color-quinary);
  text-align: center;
  padding: 1rem;
  background-color: var(--color-quaternary);
  transition: all 0.3s;
  cursor: pointer;
}

.button {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--color-quaternary);
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--color-quinary);
  transform: scale(1.05);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-quaternary);
  padding: 10vh 0;
  height: 100vh;
  position: relative;
}

.contact h2 {
  font-size: var(--font-size-xlarge);
  color: var(--color-quinary);
  padding: 2rem;
}

.contact p {
  font-size: var(--font-size-large);
  color: var(--color-secondary);
  padding: 2rem;
  text-align: center;
}

.contact a {
  font-size: var(--font-size-medium);
  color: var(--color-quinary);
  text-decoration: none;
  transition: all 0.3s;
  background-color: var(--color-primary);
}

.contact a:hover {
  background-color: var(--color-tertiary);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-quinary);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer p {
  font-size: var(--font-size-small);
  color: var(--color-white);
  padding: 1rem;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 1rem;
    justify-content: center;
  }

  .welcome-section h1 {
    font-size: var(--font-size-xxlarge);
    text-align: center;
  }

  .welcome-section p {
    font-size: var(--font-size-medium);
  }

  .projects h2 {
    font-size: var(--font-size-large);
    text-align: center;
  }

  .project-list {
    grid-template-columns: 1fr;
  }

  .project-image {
    width: 100%;
    height: 200px;
  }

  .project-tile {
    font-size: var(--font-size-small);
  }

  .contact h2 {
    font-size: var(--font-size-large);
  }

  .contact p {
    font-size: var(--font-size-medium);
  }

  .contact a {
    font-size: var(--font-size-small);
  }

  .footer p {
    font-size: var(--font-size-xxsmall);
  }
}
